<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{web/layout/layout :: layout(~{:: title}, ~{}, ~{:: #main-content}, ~{:: #js})}">
<head>
    <title>Đăng nhập</title>
</head>
<body>

<th:block id="main-content">
    <section class="py-4">
        <div class="container">
            <h3 class="mb-3 text-center">Đăng ký</h3>
            <div class="row justify-content-center">
                <div class="col-4">
                    <form class="p-5 rounded bg-body-tertiary" id="form-register">
                        <div class="mb-3 form-group">
                            <label for="name" class="form-label">Tên</label>
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                        <div class="mb-3 form-group">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" class="form-control" id="email" name="email">
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label">Mật khẩu</label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="password" name="password"/>
                                <span class="input-group-text icon-toggle-password">
                                    <i class="fa-regular fa-eye"></i>
                                </span>
                            </div>
                        </div>

                        <div class="form-group mb-3">
                            <label class="form-label">Nhập lại mật khẩu</label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="confirm-password"
                                       name="confirmPassword"/>
                                <span class="input-group-text icon-toggle-password">
                                    <i class="fa-regular fa-eye"></i>
                                </span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <button type="submit" class="btn btn-primary px-4">Đăng Ký</button>
                            <a class="text-primary" href="/dang-nhap">Đăng nhập?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</th:block>
<th:block id="js">
    <script>
        const togglePasswordBtns = document.querySelectorAll('.icon-toggle-password');
        const passwordInputs = document.querySelectorAll('input[type="password"]');
        togglePasswordBtns.forEach((btn, index) => {
            btn.addEventListener('click', () => {
                if (passwordInputs[index].type === 'password') {
                    passwordInputs[index].type = 'text';
                    btn.innerHTML = '<i class="fa-regular fa-eye-slash"></i>';
                } else {
                    passwordInputs[index].type = 'password';
                    btn.innerHTML = '<i class="fa-regular fa-eye"></i>';
                }
            });
        });

        const formRegister = document.getElementById('form-register');
        const errorMessage = document.getElementById('error-message');

        formRegister.addEventListener("submit", (e) => {
            e.preventDefault();

            const name = document.getElementById('name').value;
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirm-password').value;

            if (!name || !email || !password || !confirmPassword) {
                errorMessage.innerText = "Vui lòng điền đầy đủ thông tin";
                return;
            }

            if (password !== confirmPassword) {
                errorMessage.innerText = "Mật khẩu và Nhập lại mật khẩu phải giống nhau";
                return;
            }

            const data = {
                name: name,
                email: email,
                password: password
            };

            axios.post('/api/auth/signup', data)
                .then((response) => {
                    if (response.status === 200) {
                        toastr.success("Đăng ký thành công");
                        setTimeout(() => {
                            window.location.href = '/';
                        }, 1500);
                    }
                })
                .catch((error) => {
                    if (error.response && error.response.status === 409) {
                        toastr.error("Tài khoản đã tồn tại");
                    } else {
                        toastr.error("Đã xảy ra lỗi, vui lòng thử lại sau");
                    }
                    console.error(error);
                });
        });
    </script>
</th:block>

</body>
</html>